@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Aileron', sans-serif;
}

.custom-img {
  background-image: url('/bg-heros.png');
}


@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Regular.woff2') format('woff2'),
       url('/fonts/Aileron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Aileron';
}