@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* font-family: 'Aileron', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.custom-img {
  background-image: url('/bg-heros.png');
}


/* @font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Regular.woff2') format('woff2'),
       url('/fonts/Aileron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */


@media screen and (min-width: 600px) {
  .img-foot {
    margin-top: -50px !important;
  }

  .img-general {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .img-logo {
    width: 200px;
  }

  .title-navbar {
    font-size: 17px !important;
  }
}
